# Requirements for the TensorTXT project

# NOTE: Matplot lib >=3.6.0 gives annoying deprecation warning, but we should be able to successfully use the
# next oldest at 3.5.3. And it tests good. Warning gone and plots look great.
# Moving this up before tensorflow so its version precedence is obvious. TODO: Check later for an unintentional upgrade.
matplotlib==3.5.3

tensorflow

# keras might still be brought in by tensorflow but they way it is imported now (2.9->2.10 change?)
# causes a warning from PyCharm unless you add keras here. Does not hurt anything.
keras

# For saving and loading models: pyyaml, h5py
pyyaml
h5py


# For possible integration into other projects, a REST service would be used:
#flask
#flask-restful
#jsonify

# colorize - trying colorize on our output
colorize

